@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proza Libre", sans-serif;
}
.h-screen-1\/2 {
  height: 50vh;
}
<<<<<<< HEAD
.round-circle{
  height: 500px;
  width: 500px;
  z-index: 0;
}
=======
.bg-black-50 {
  background-color: #202020;
}

.wobble-div {
  height: 50vh;
}
>>>>>>> blog
